{% load static %}
{% include 'header.html' %}

<section class="form7 cid-sot7C68He7" id="form7-w">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Log In</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="#" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="SjyxVqRlHqFdX6r8/zSZKFwYgHGaYbg6SlPJBcRb81ZyL0trcXn5uk8ppIl8wb6srQ3PTT4uufHebLxsz4iWDtgi0b2vvsFpDlyeRbLJqcxdGDSYdkMi/YMSyzbnSv6P">
                    {% csrf_token %}
                    <!-- <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                        One of our team will be in contact with you shortly.
                    </p> -->
                    <!-- <div class="">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for logging in!!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div> -->
                    <div class="dragArea row">
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="John@doe.com" data-form-field="email" class="form-control" value="" id="email-form7-w" required>
                        </div>

                        <div data-for="password" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="password" name="password" placeholder="password" data-form-field="password" class="form-control" value="" id="phone-form7-w" required>
                        </div>
                    
                        <div class="col-auto mbr-section-btn align-center">
                            <input type="submit" value="Login" class="btn btn-primary display-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}