{% load static %}
{% include 'header.html' %}

<section class="form7 cid-sot7C68He7" id="form7-w">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Add a new Recipe</strong></h3>     
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-md-10 mx-auto mbr-form" data-form-type="formoid">
                <form action="#" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="email" data-form-email="true" value="SjyxVqRlHqFdX6r8/zSZKFwYgHGaYbg6SlPJBcRb81ZyL0trcXn5uk8ppIl8wb6srQ3PTT4uufHebLxsz4iWDtgi0b2vvsFpDlyeRbLJqcxdGDSYdkMi/YMSyzbnSv6P"> -->
                    {% csrf_token %}
                    <div class="dragArea row">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="name">
                            <label for="name" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Recipe Name</label>
                            <input type="text" name="name" placeholder="..." data-form-field="name" class="form-control" value="" id="name-form7-w" required>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="image">
                            <label for="image" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Image</label>
                            <input type="file"  accept="image/*" name="image" placeholder="..." data-form-field="image" class="form-control" id="image" required>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="steps">
                            <label for="steps" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Recipe Steps (Please enter each step in new line)</label>
                            <textarea type="text" name="steps" placeholder="..." data-form-field="steps" class="form-control" value="" id="name-form7-w" required></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="servings">
                            <label for="servings" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Servings</label>
                            <input type="number" name="servings" placeholder="1" data-form-field="servings" class="form-control" default="1" value="" id="email-form7-w">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="servings">
                            <label for="category" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Cuisine</label>
                            <select class="nav-link link dropdown-toggle display-4" id="category" name="category">
                                <option class="text-primary dropdown-item display-4" value="Indian">Indian</option>
                                <option class="text-primary dropdown-item display-4" value="Canadian">Canadian</option>
                                <option class="text-primary dropdown-item display-4" value="Mexican">Mexican</option>
                                <option class="text-primary dropdown-item display-4" value="Finnish">Finnish</option>
                                <option class="text-primary dropdown-item display-4" value="Italian">Italian</option>
                                <option class="text-primary dropdown-item display-4" value="Chinese">Chinese</option>
                              </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="prep-time">
                            <label for="prep-time-hour" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Preparation Time</label>
                            <div class="row">
                                <div class="col">
                                    <input type="number" name="prep-time-hour" placeholder="HH" data-form-field="prep-time-hour"  default="0" class="form-control" value="" id="email-form7-w">
                                </div>
                                <div class="col">
                                    <input type="number" name="prep-time-min" placeholder="MM" data-form-field="prep-time-min" default="1" class="form-control" value="" id="email-form7-w">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="cook-time">
                            <label for="cook-time-hour" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Cook Time</label>
                            <div class="row">
                                <div class="col">
                                    <input type="number" name="cook-time-hour" placeholder="HH" data-form-field="cook-time-hour" default="0" class="form-control" value="" id="email-form7-w">
                                </div>
                                <div class="col">
                                    <input type="number" name="cook-time-min" placeholder="MM" data-form-field="cook-time-min" default="1" class="form-control" value="" id="email-form7-w">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="servings">
                            <label for="ingredients" style="font-family: 'Jost', sans-serif; font-size: 1.1rem;">Ingredients (Press Control/Command to select multiple)</label>
                            <select name="ingredients" id="ingredients" multiple="multiple" class="form-control" data-for="ingredients">
                                {% for ingredient in ingredients %}
                                    <option value="{{ ingredient.id }}"> {{ ingredient.ingredient_name }} </option>
                                {% endfor %}
                            </select>  
                            <a href="{% url 'add-ingredient' %}" class="display-7">Add a new Ingredient</a>
                        </div>
                        
                        <!-- <div data-for="cPass" class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="password" name="cPass" placeholder="Password" data-form-field="cPass" class="form-control" value="" id="password-form7-w">
                        </div> -->
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}