
{% load static %}
{% include 'header.html' %}
<section class="features10 cid-sotbW4qMBf" id="features11-12">   
    <div class="container">
        <div class="title">
            <h3 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                <strong>Recipes List</strong>
            </h3>
            
        </div>
        {% for recipe in recipes %}
        <div class="card">
            <a href="{% url 'recipe-details' recipe.id %}" >
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3">
                        <div class="image-wrapper">
                            <img style="height:300px;" src="/media/{{ recipe.recipe_image }}" alt="CookMore" title="">
                        </div>
                    </div>
                    <div class="col-12 col-md">                        
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>{{ recipe.recipe_name }}</strong></h4>
                                        <p class="cost mbr-fonts-style display-5">
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7">
                                            -------------------------------------------------------------------------------------------
                                            -------------------------------------------------------------------------------------------
                                            -------------------------------------------------------------------------------------------
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>    
        {% endfor %}
    </div>
</section>

{% include 'footer.html' %}
