{% load static %}

<section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">
    <div class="container">
        <div style="width: 10px; position: fixed; right: 10%; bottom: 10%;">
            <a href="{% url 'add-recipe' %}" class="btn btn-primary display-7" style="width: fit-content; 
            border-radius: 50%; margin: 0%;" title="Add Recipe">+</a>
        </div>        
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                <li class="foot-menu-item mbr-fonts-style display-7"></li><li class="foot-menu-item mbr-fonts-style display-7">Contact Us</li><li class="foot-menu-item mbr-fonts-style display-7"></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                            <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7"></p>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/t" style="flex: 1 1; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/w" style="color:#aaa;"></a></p></section>
<script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>  
<script src="{% static 'assets/popper/popper.min.js' %}"></script>  
<script src="{% static 'assets/tether/tether.min.js' %}"></script>  
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>  
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>  
<script src="{% static 'assets/dropdown/js/nav-dropdown.js' %}"></script>  
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>  
<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>  
<script src="{% static 'assets/theme/js/script.js' %}"></script>  
  
  
</body>
</html>